.sidebar {
	width: 100% !important;
	max-width: 200px !important;
	max-height: 100vh;
	@include media-max(767) { max-width: 100px !important; }

	.nav-link {
		transition: 300ms;
		-webkit-transition: 300ms;
		-moz-transition: 300ms;
		-ms-transition: 300ms;
		-o-transition: 300ms;
		width: 100%;
		max-width: 200px;
		span {
			color: #616161;
			transition: 300ms;
			-webkit-transition: 300ms;
			-moz-transition: 300ms;
			-ms-transition: 300ms;
			-o-transition: 300ms;
		}
		path {
			transition: 300ms;
			-webkit-transition: 300ms;
			-moz-transition: 300ms;
			-ms-transition: 300ms;
			-o-transition: 300ms;
		}
		&:hover {
			background-color: #4e88e0;
			span { color: #ffffff; }
			path { fill: #ffffff; }
		}
	}

	.userDetails {
		border-top: 1px solid rgba(gray, 0.5);
		margin-top: auto;
		ul {
			padding: 0;
			margin: 0;
			li {
				margin-bottom: 0 !important;
				display: block;
				.dropdown-toggle {
					width: 100%;
					display: block;
					padding: 10px 10px;
				}

				.dropdown-menu {
					top: auto;
					left: 0;
					bottom: calc(100% + 1px);
				}
			}
		}
	}
}

.sidebar-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: fixed;
	background-color: #f8f9fc;
}

.sidebar-links .logo { width: 50px; }
.sidebar-links li { display: block; }