// Primary Font  - Hind Madurai
@font-face {
	font-family: 'Hind Madurai', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-stretch: normal;
	font-display: swap;
	src: url('./fonts/HindMadurai/HindMadurai-Light.ttf');
}

@font-face {
	font-family: 'Hind Madurai', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-display: swap;
	src: url('./fonts/HindMadurai/HindMadurai-Regular.ttf');
}

@font-face {
	font-family: 'Hind Madurai', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-stretch: normal;
	font-display: swap;
	src: url('./fonts/HindMadurai/HindMadurai-Medium.ttf');
}

@font-face {
	font-family: 'Hind Madurai', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;
	font-display: swap;
	src: url('./fonts/HindMadurai/HindMadurai-SemiBold.ttf');
}

@font-face {
	font-family: 'Hind Madurai', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-stretch: normal;
	font-display: swap;
	src: url('./fonts/HindMadurai/HindMadurai-Bold.ttf');
}

// Secondary Font - Montserrat
@font-face {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 100;
	font-stretch: normal;
	font-display: swap;
	src: url('./fonts/HindMadurai/Montserrat-Thin.ttf');
}

@font-face {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 200;
	font-stretch: normal;
	font-display: swap;
	src: url('./fonts/HindMadurai/Montserrat-ExtraLight.ttf');
}

@font-face {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-stretch: normal;
	font-display: swap;
	src: url('./fonts/HindMadurai/Montserrat-Light.ttf');
}

@font-face {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-display: swap;
	src: url('./fonts/HindMadurai/Montserrat-Regular.ttf');
}

@font-face {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-stretch: normal;
	font-display: swap;
	src: url('./fonts/HindMadurai/Montserrat-Medium.ttf');
}

@font-face {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;
	font-display: swap;
	src: url('./fonts/HindMadurai/Montserrat-SemiBold.ttf');
}

@font-face {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-stretch: normal;
	font-display: swap;
	src: url('./fonts/HindMadurai/Montserrat-Bold.ttf');
}

@font-face {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-stretch: normal;
	font-display: swap;
	src: url('./fonts/HindMadurai/Montserrat-ExtraBold.ttf');
}

@font-face {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-stretch: normal;
	font-display: swap;
	src: url('./fonts/HindMadurai/Montserrat-Black.ttf');
}

// Font - Lora
@font-face {
	font-family: 'Lora', serif;
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-display: swap;
	src: url('./fonts/HindMadurai/Lora-Regular.ttf');
}

@font-face {
	font-family: 'Lora', serif;
	font-style: normal;
	font-weight: 500;
	font-stretch: normal;
	font-display: swap;
	src: url('./fonts/HindMadurai/Lora-Medium.ttf');
}

@font-face {
	font-family: 'Lora', serif;
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;
	font-display: swap;
	src: url('./fonts/HindMadurai/Lora-SemiBold.ttf');
}

@font-face {
	font-family: 'Lora', serif;
	font-style: normal;
	font-weight: 700;
	font-stretch: normal;
	font-display: swap;
	src: url('./fonts/HindMadurai/Lora-Bold.ttf');
}