* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $primaryFont;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 { 
	color: $bg-text;
	font-weight: bold;
	font-family: $secondaryFont;
}

p, .p 	{
	color: $bg-text;
	letter-spacing: 0.3px;
	font-family: $primaryFont;
}

body {
	min-height: 100vh;
	background-color: rgba(gray, 0.1);
}

img	{ max-width: 100%; }
.cursor-pointer { cursor: pointer; }
body, #app, #wrapper { min-height: 100vh; }

.link-hover {
	transition: 300ms;
	&:hover {
		text-decoration: none;
		background-color: rgba(#000, 0.1);
	}
}

.isEmpty		{ color: rgba(gray, 0.5); }
.isEmpty:after	{ content: 'Work Space Name' }
.typeWorkSpae .dropdown {
	z-index: 5;
	cursor: pointer;
	padding: 5px 10px;
	border-radius: 5px;
	position: relative;
	background-color: rgba(gray, 0.15);
	p { margin-bottom: 0; }
	.dropdown-option {
		top: 100%;
		color: #000;
		padding: 15px;
		display: none;
		position: absolute;
		width: calc(100% - 20px);
		border-radius: 0 0 5px 5px;
		background-color: rgb(235, 235, 235);
		span {
			width: 100%;
			display: block;
			padding: 3px 5px;
			border-radius: 3px;
			&:hover { background-color: rgba(gray, 0.2); }
		}
	}
	.dropdown-option.active { display: block; }
}

// new code
.button {
	padding: 5px;
	font-size: 16px;
	border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	// background-color: #f3f3f3;
	// box-shadow: 0 0 2px #979797;
	// &:hover { background-color: #e0e0e0; }
	transition: 300ms;
	-o-transition: 300ms;
	-ms-transition: 300ms;
	-moz-transition: 300ms;
	-webkit-transition: 300ms;
}

.button-sm {
	padding: 3px 5px;
	font-size: 14px;
	border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	// background-color: #f3f3f3;
	// box-shadow: 0 0 2px #979797;
	// &:hover { background-color: #e0e0e0; }
	transition: 300ms;
	-o-transition: 300ms;
	-ms-transition: 300ms;
	-moz-transition: 300ms;
	-webkit-transition: 300ms;
}