$primaryFont: 	'Hind Madurai', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;
$loraFont: 		'Lora', serif;

// Font weight
$fw-thin:   100;
$fw-xLight: 200;
$fw-light:  300;
$fw-regular:400;
$fw-medium: 500;
$fw-sBold:  600;
$fw-bold:   700;
$fw-xBold:  800;
$fw-black:  900;

$bg-black: #000;
$bg-white: #fff;
$bg-placeholder: #868686;
$bg-text: #464646;